/* reset styles */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* =========== variables ========== */
/* ===============================
They(variables) are not ganna compile to css variable, so you see above this part empty in css file
============================== */
/* =========== Base Styles down here ========== */
body {
  font-family: karla, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #e5eff5;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 600px;
  border-radius: 7px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
}

.container > * {
  padding: 30px;
}

.title {
  font-size: 1.2rem;
  color: #2ab2af;
  font-weight: 700;
  margin-bottom: 20px;
}

.subtitle {
  font-weight: 700;
  margin-bottom: 10px;
}

.btn {
  border: none;
  background: none;
  outline: none;
  display: inline-block;
  width: 100%;
  height: 40px;
  background-color: #c0df34;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.05);
  color: inherit;
  font-family: inherit;
  font-size: 1.1rem;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.bg-white {
  background-color: #fff;
}

.bg-white .subtitle {
  color: #c0df34;
}

.bg-white .info {
  color: #98a6bd;
}

.bg-cyan {
  background-color: #2ab2af;
  color: #fafafa;
}

.bg-cyan .price {
  color: rgba(255, 255, 255, 0.7);
}

.bg-cyan .price span {
  font-size: 1.4rem;
  color: #fafafa;
}

.bg-cyan .btn {
  margin-top: 30px;
}

.bg-lightCyan {
  background-color: #4abebd;
  color: #fafafa;
}

.bg-lightCyan li {
  font-size: 75%;
}

/* ===============================
Layout styles down
============================== */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.container > *:not(:first-child) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

/* ===============================
footer styles
============================== */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/* ===============================
media queries down here
============================== */
@media screen and (max-width: 600px) {
  body {
    padding: 30px;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */