/* ===============================
CSS Reset down below
============================== */
html {
  box-sizing: border-box;
}
html *,
html *:before,
html *:after {
  box-sizing: inherit;
}
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* ===============================
Sass variables down below
============================== */
$darkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);
$brightBlue: hsl(224, 93%, 58%);
$moderateCyan: hsl(170, 45%, 43%);
$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);

/* ===============================
Base Styles
============================== */
body {
  font-family: 'open sans', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
.navlink,
.btn {
  font-family: raleway, Arial, Helvetica, sans-serif;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 45%;
  grid-gap: 5%;
}
.btn {
  border: none;
  background: none;
  outline: none;
  width: 190px;
  height: 45px;
  background-color: $brightBlue;
  color: #ffffff;
  border-radius: 3px;
  font-weight: 700;
  font-size: 0.9rem;
  box-shadow: 3px 3px 5px $lightGray;
  opacity: 0.95;
  transition: box-shadow 0.5s ease;
}
.btn:hover,
.btn:focus {
  box-shadow: 1px 1px 5px $lightGray;
  opacity: 1;
}
input[type='email'] {
  width: 300px;
  height: 45px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid $darkBlue;
}
h1,
h2 {
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 1.2;
}
p {
  margin-bottom: 20px;
}
.quoteCard {
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  padding: 25px 30px;
  border-radius: 7px;
  .quoteMark {
    margin-bottom: 20px;
  }
  blockquote {
    margin-bottom: 30px;
  }
  img {
    width: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
  }
  .name {
    font-size: 80%;
  }
}
.illustration img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
/* ===============================
Element Styles 
============================== */
/* header styles */
header {
  padding-top: 50px;
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // background-color: #fff;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  li {
    margin-left: 50px;
  }
  .navlink,
  .navlink:visited,
  .navlink:hover,
  .navlink:active {
    color: inherit;
    text-decoration: none;
  }
}
.logo img {
  height: 50px;
}

/* showcase styles */
.showcase {
  padding-top: 100px;
  min-height: 100vh;
  background: url('/images/bg-curve-desktop.svg') bottom/100% no-repeat;

  input {
    margin-right: 10px;
    margin-bottom: 20px;
    vertical-align: baseline;
  }
  .btn {
    margin: 0;
    vertical-align: baseline;
  }
}
.features {
  background-color: #f8f8fe;
  padding: 60px 0;
  a {
    display: inline-block;
    color: #499287;
    margin-bottom: 40px;
  }
}

.signIn {
  padding: 60px 0;
  background-color: $desaturatedBlue;
  color: #fff;
  h2 {
    margin-top: 0;
  }
  input {
    width: 90%;
    margin-bottom: 20px;
    border: none;
  }
  .btn {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.08);
  }
}
/* ===============================
Footer styles down below
============================== */
footer {
  background-color: $darkBlue;
  padding: 60px 0;
  color: #fff;
  img {
    margin-left: 5%;
    margin-bottom: 10px;
  }
  li {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
}
.ftrContainer {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  * {
    flex: 1 1 0;
  }
}
.contactInfo i {
  margin-right: 10px;
}

.social > span {
  width: 40px;
  height: 40px;
  border: 2px solid #f4f4f4;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  i {
    text-align: center;
  }
}
span:hover {
  color: #009cfa;
  border: 2px solid#009CFA;
}
.attribution {
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: $desaturatedBlue;
}

/* ===============================
Media Qureries below
============================== */
@media screen and (max-width: 768px) {
  header .container {
    grid-template-columns: 1fr 2fr;
  }
  h1,
  h2 {
    font-size: 2rem;
  }

  .container {
    grid-template-columns: 1fr;
  }
  .illustration {
    grid-row: 1;
  }
  .showcase {
    background: url('/images/bg-curve-mobile.svg') bottom/100% no-repeat;
  }
  .features {
    padding-bottom: 150px;
  }
  input[type='email'] {
    width: 100%;
    margin-bottom: 20px;
  }

  .ftrContainer {
    flex-direction: column;
    & > * {
      margin-bottom: 20px;
    }
    .social {
      text-align: center;
    }
  }
}
@media screen and (max-width: 600px) {
  header .container {
    grid-template-columns: 1fr;
    li {
      margin-left: 0;
    }
    ul {
      justify-content: space-between;
    }
  }
}
